.error-indicator {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 2rem;
    font-size: 20px;
    color: red;
    text-align: center;
    max-width: 200px;
    margin: 20vh auto;
}
.icon {
    margin: 5%;
    max-width: 50px;
}